<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Stardust</a>
        
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link text-success" href="/posts">Постове</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-success" href="/users">Потребители</a>
            </li>
        </ul>

        <ul class="nav justify-content-end">
          {% if session.logged_in %}
            <li class="nav-item">
              <a class="nav-link text-success" href="/logout">Излизане</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link text-success" href="/register">Регистрация</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-success" href="/login">Влизане</a>
            </li>
          {% endif %}
        </ul>
    </div>
  </nav>