{% extends 'main.html' %}

{% block body %}
<div class="position-static" style="padding: 50px;">
    <div class="mx-auto">
        <h1 class="display-1 text-center">Постове</h1>
        <br>

<div class="form-group">






	
</div>


        <div class="card center" style="margin: 0 auto; float: none; margin-bottom: 10px; border: 2px solid black;">
            {% for user_post in posts %}
                <div class="card-body" style="margin:20px;">
                    <h5 class="card-title">{{user_post.author}}</h5>
                    <p class="card-text">{{user_post.content}}</p>
                    
                </div>
                <hr  style="border: 2px solid #198754;">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
