{% extends 'main.html' %}

{% block body %}
<div class="position-static">
  <div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="display-1 text-center">Регистрация</h1>
    <div class="shadow-lg p-5 mb-5 bg-white rounded-3">
      <form method="POST" url="/register">
      <div class="form-outline mb-4">
        <input type="text" name="username"/><br/>
        <label class="form-label" for="form3Example3">Никнейм</label>        
      </div>
      <div class="form-outline mb-4">
        <input type="password" name="password"/><br/>
        <label class="form-label" for="form3Example4">Парола</label>
      </div>
      <button type="submit" class="btn btn-success" >Регистрация</button>
    </form>
    </div>
  </div>
</div>

{% endblock %}
